

    <aside class="off-canvas-menu">
        <ul>
            <li>
                <a href="{{siteUrl('/')}}">Home</a>
            </li>

            <li>
                <a href="{{siteUrl('/products')}}">Products</a>
            </li>

            <li>
                <a href="{{siteUrl('/heritage')}}">Heritage</a>
            </li>

            <li>
                <a href="{{siteUrl('/connect')}}">Connect</a>
            </li>

            <li>
                <a href="http://info.schweidandsons.com/">News &#38; Info</a>
            </li>

            <li>
                <a href="{{siteUrl('/locations')}}">Locations</a>
            </li>

            <li>
                <a href="http://foodservice.schweidandsons.com/">Food Service</a>
            </li>
        </ul>
    </aside>
