{% extends "_layout.html.twig" %}

{% block title %}Schweid &amp; Sons - Connect{% endblock title %}
    
    {% block keywords %}
    {% endblock %}

    {% block google %}
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Schweid & Sons">
    <meta itemprop="description" content="Our passion is carried on with a single-minded dedication to producing the best tasting, highest quality burger">
    <meta itemprop="image" content="{{ siteUrl('images/share/home-GO.jpg') }}">
    {% endblock %}

    {% block twitter %}
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@publisher_handle">
    <meta name="twitter:title" content="Schweid & Sons">
    <meta name="twitter:description" content="Our passion is carried on with a single-minded dedication to producing the best tasting, highest quality burger">
    <meta name="twitter:creator" content="@author_handle">
    <meta name="twitter:image" content="{{ siteUrl('images/share/home-TW.jpg') }}">
    {% endblock %}
    
    {% block facebook %}
    <!-- Open Graph data -->
    <meta property="og:title" content="Schweid & Sons" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="{{siteUrl}}" /> 
    <meta property="og:image" content="{{ siteUrl('images/share/home-FB.jpg') }}" />
    <meta property="og:description" content="Our passion is carried on with a single-minded dedication to producing the best tasting, highest quality burger" /> 
    <meta property="og:site_name" content="Schweid & Sons" />
    <!--<meta property="fb:admins" content="Facebook numeric ID" /> -->
    {% endblock %}

{% block content %}
      <div class="connect-media-query">
        <div class="small-10 small-centered medium-6 columns connect-text">
                <div class="underline"><img src="{{ siteUrl('images/underline.png') }}" alt="underline" /></div>
                <h1>Connect</h1>

           <ul class="small-block-grid-3 text-center">
                <li id='icon-instagram' class='scaleHover'><a href="http://instagram.com/schweidandsons" target="_blank"><img src="{{ siteUrl('images/instagram-icon.png') }}" alt="instagram" /></a></li>
                <li id='icon-facebook' class='scaleHover'><a href="http://facebook.com/schweidandsons" target="_blank"><img src="{{ siteUrl('images/facebook-icon.png') }}" alt="facebook" /></a></li>
                <li id='icon-twitter' class='scaleHover'><a href="http://twitter.com/schweidandsons" target="_blank"><img src="{{ siteUrl('images/twitter-icon.png') }}" alt="twitter" /></a></li>
            </ul>

            <div class="hline"></div>

            <div class="address">
                666 16th Street<br>
                Carlstadt, NJ 07072<br>
            </div>
            
               <div class="hline"></div>
               <div id="email" class='quickFade'><a href="mailto:info@schweidandsons.com">info@schweidandsons.com</a></div>
        </div>
    </div>
{% endblock %}
